<a href="https://colab.research.google.com/github/SandeeeeeeeeepDey/Kaggle_noob_to_pro/blob/main/Titanic_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Kaggle_Competition Jump start

##The Challenge
The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

##Import and Load

In [ ]:
!pip install tensorflow_decision_forests

In [6]:
import numpy as np
import pandas as pd
import os

import tensorflow as tf
import tensorflow_decision_forests as tfdf

In [7]:
train_df= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Titanic_Kaggle/train.csv")
test_df= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Titanic_Kaggle/train.csv")
train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

##Dataset Preprocessing/Preparation

Make one preprocess function to use on both training set and test set.

In [ ]:
def preprocess(df):
  df = df.copy()

  def normalize_name(x):
    return " ".join([v.strip(""",()[]."'""") for v in x.split(" ")])

  def ticket_number(x):
    return x.split(" ")[-1]

  def ticket_item(x):
    items = x.split(" ")
    if len(items) < 2:
      return "NONE"
    return "_".join(items[0:-1])

  df["Name"] = df["Name"].apply(normalize_name)
  df["Ticket_number"] = df["Ticket"].apply(ticket_number)
  df["Ticket_item"] = df["Ticket"].apply(ticket_item)
  return df

preprocessed_train_df = preprocess(train_df)
preprocessed_test_df = preprocess(test_df)

In [25]:
preprocessed_train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE
5,6,0,3,Moran Mr James,male,NaN,0,0,330877,8.4583,NaN,Q,330877,NONE
6,7,0,1,McCarthy Mr Timothy J,male,54.0,0,0,17463,51.8625,E46,S,17463,NONE
7,8,0,3,Palsson Master Gosta Leonard,male,2.0,3,1,349909,21.0750,NaN,S,349909,NONE
8,9,1,3,Johnson Mrs Oscar W Elisabeth Vilhelmina Berg,female,27.0,0,2,347742,11.1333,NaN,S,347742,NONE
9,10,1,2,Nasser Mrs Nicholas Adele Achem,female,14.0,1,0,237736,30.0708,NaN,C,237736,NONE

Remove columns that will surely not be of any use as a feature.
Saves processing time and reduces dimension

In [15]:
input_features = list(preprocessed_train_df.columns)
input_features.remove("Survived")
input_features.remove("Ticket")
input_features.remove("PassengerId")

print(input_features)

['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked', 'Ticket_number', 'Ticket_item']

## Pandas dataframe to Tensor Dataset

work with python, but at the end use Tensors

In [19]:
def tokenize_names(features, labels=None):
  """TFDF can only use tokens natively, so convert names to tokens"""
  features["Name"] = tf.strings.split(features["Name"])
  return features, labels

train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_train_df,label="Survived").map(tokenize_names)
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_train_df,).map(tokenize_names)

##Train Models

###Train with Default Params

In [22]:
model = tfdf.keras.GradientBoostedTreesModel(
    random_seed=1234
)
model.fit(train_ds)

Use /tmp/tmpj8adlrxi as temporary training directory
Reading training dataset...
Training dataset read in 0:00:03.541925. Found 891 examples.
Training model...
Model trained in 0:00:00.231355
Compiling model...
Model compiled.

In [23]:
self_evaluation = model.make_inspector().evaluation()

In [24]:
print(f"Acc:{self_evaluation.accuracy} Loss:{self_evaluation.loss}")

Acc:0.804347813129425 Loss:0.8973425030708313

In [30]:
model.summary()

Model: "gradient_boosted_trees_model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.805245 ################
    2.           "Age"  0.372369 #####
    3.          "Fare"  0.273026 ##
    4.          "Name"  0.187307
    5.        "Pclass"  0.180805
    6.   "Ticket_item"  0.178416
    7. "Ticket_number"  0.178366
    8.         "Parch"  0.177684
    9.      "Embarked"  0.176070
   10.         "SibSp"  0.172557

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 34.000000 ################
    2. "Name"  2.000000

Variable Importance: NUM_NODES:
    1.           "Age" 428.000000 ################
    2.          "Fare" 278.000000 ##########
    3.          "Name" 55.000000 #
    4.   "Ticket_item" 38.000000 #
    5.           "Sex" 36.000000 #
    6. "Ticket_number" 23.000000
    7.         "Parch" 19.000000
    8.        "Pclass" 10.000000
    9.      "Embarked"  9.000000
   10.         "SibSp"  4.000000

Variable Importance: SUM_SCORE:
    1.           "Sex" 461.523208 ################
    2.           "Age" 378.019156 #############
    3.          "Fare" 275.230253 #########
    4.          "Name" 118.343331 ####
    5.        "Pclass" 36.228439 #
    6.         "Parch" 23.516134
    7.   "Ticket_item" 21.838539
    8. "Ticket_number" 17.217955
    9.      "Embarked"  7.074696
   10.         "SibSp"  0.400482



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 1.04625
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 36
Total number of nodes: 1836

Number of nodes by tree:
Count: 36 Average: 51 StdDev: 4.49691
Min: 41 Max: 61 Ignored: 0
----------------------------------------------
[ 41, 42)  1   2.78%   2.78% #
[ 42, 43)  0   0.00%   2.78%
[ 43, 44)  1   2.78%   5.56% #
[ 44, 45)  0   0.00%   5.56%
[ 45, 46)  3   8.33%  13.89% ###
[ 46, 47)  0   0.00%  13.89%
[ 47, 48)  5  13.89%  27.78% #####
[ 48, 49)  0   0.00%  27.78%
[ 49, 50)  3   8.33%  36.11% ###
[ 50, 51)  0   0.00%  36.11%
[ 51, 52) 10  27.78%  63.89% ##########
[ 52, 53)  0   0.00%  63.89%
[ 53, 54)  3   8.33%  72.22% ###
[ 54, 55)  0   0.00%  72.22%
[ 55, 56)  5  13.89%  86.11% #####
[ 56, 57)  0   0.00%  86.11%
[ 57, 58)  3   8.33%  94.44% ###
[ 58, 59)  0   0.00%  94.44%
[ 59, 60)  1   2.78%  97.22% #
[ 60, 61]  1   2.78% 100.00% #

Depth by leafs:
Count: 936 Average: 4.81624 StdDev: 0.493973
Min: 3 Max: 5 Ignored: 0
----------------------------------------------
[ 3, 4)  44   4.70%   4.70% #
[ 4, 5)  84   8.97%  13.68% #
[ 5, 5] 808  86.32% 100.00% ##########

Number of training obs by leaf:
Count: 936 Average: 30.7308 StdDev: 73.3279
Min: 1 Max: 458 Ignored: 0
----------------------------------------------
[   1,  23) 723  77.24%  77.24% ##########
[  23,  46)  71   7.59%  84.83% #
[  46,  69)  42   4.49%  89.32% #
[  69,  92)  20   2.14%  91.45%
[  92, 115)   2   0.21%  91.67%
[ 115, 138)   7   0.75%  92.41%
[ 138, 161)  27   2.88%  95.30%
[ 161, 184)   8   0.85%  96.15%
[ 184, 207)   2   0.21%  96.37%
[ 207, 230)   4   0.43%  96.79%
[ 230, 252)   2   0.21%  97.01%
[ 252, 275)   0   0.00%  97.01%
[ 275, 298)   0   0.00%  97.01%
[ 298, 321)   1   0.11%  97.12%
[ 321, 344)   0   0.00%  97.12%
[ 344, 367)   5   0.53%  97.65%
[ 367, 390)  11   1.18%  98.82%
[ 390, 413)   4   0.43%  99.25%
[ 413, 436)   6   0.64%  99.89%
[ 436, 458]   1   0.11% 100.00%

Attribute in nodes:
	428 : Age [NUMERICAL]
	278 : Fare [NUMERICAL]
	55 : Name [CATEGORICAL_SET]
	38 : Ticket_item [CATEGORICAL]
	36 : Sex [CATEGORICAL]
	23 : Ticket_number [CATEGORICAL]
	19 : Parch [NUMERICAL]
	10 : Pclass [NUMERICAL]
	9 : Embarked [CATEGORICAL]
	4 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	34 : Sex [CATEGORICAL]
	2 : Name [CATEGORICAL_SET]

Attribute in nodes with depth <= 1:
	44 : Age [NUMERICAL]
	34 : Sex [CATEGORICAL]
	21 : Fare [NUMERICAL]
	5 : Pclass [NUMERICAL]
	2 : Name [CATEGORICAL_SET]
	1 : Ticket_number [CATEGORICAL]
	1 : Parch [NUMERICAL]

Attribute in nodes with depth <= 2:
	111 : Age [NUMERICAL]
	75 : Fare [NUMERICAL]
	35 : Sex [CATEGORICAL]
	7 : Name [CATEGORICAL_SET]
	6 : Parch [NUMERICAL]
	5 : Pclass [NUMERICAL]
	5 : Embarked [CATEGORICAL]
	4 : Ticket_number [CATEGORICAL]
	4 : Ticket_item [CATEGORICAL]

Attribute in nodes with depth <= 3:
	239 : Age [NUMERICAL]
	155 : Fare [NUMERICAL]
	36 : Sex [CATEGORICAL]
	18 : Name [CATEGORICAL_SET]
	13 : Ticket_number [CATEGORICAL]
	12 : Ticket_item [CATEGORICAL]
	10 : Parch [NUMERICAL]
	6 : Pclass [NUMERICAL]
	6 : Embarked [CATEGORICAL]
	1 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 5:
	428 : Age [NUMERICAL]
	278 : Fare [NUMERICAL]
	55 : Name [CATEGORICAL_SET]
	38 : Ticket_item [CATEGORICAL]
	36 : Sex [CATEGORICAL]
	23 : Ticket_number [CATEGORICAL]
	19 : Parch [NUMERICAL]
	10 : Pclass [NUMERICAL]
	9 : Embarked [CATEGORICAL]
	4 : SibSp [NUMERICAL]

Condition type in nodes:
	739 : ObliqueCondition
	117 : ContainsBitmapCondition
	44 : ContainsCondition
Condition type in nodes with depth <= 0:
	36 : ContainsBitmapCondition
Condition type in nodes with depth <= 1:
	71 : ObliqueCondition
	37 : ContainsBitmapCondition
Condition type in nodes with depth <= 2:
	197 : ObliqueCondition
	50 : ContainsBitmapCondition
	5 : ContainsCondition
Condition type in nodes with depth <= 3:
	411 : ObliqueCondition
	70 : ContainsBitmapCondition
	15 : ContainsCondition
Condition type in nodes with depth <= 5:
	739 : ObliqueCondition
	117 : ContainsBitmapCondition
	44 : ContainsCondition

Training logs:
Number of iteration to final model: 36
	Iter:1 train-loss:1.267677 valid-loss:1.369485  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.214848 valid-loss:1.331812  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.164942 valid-loss:1.291869  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:4 train-loss:1.120759 valid-loss:1.258706  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:5 train-loss:1.079912 valid-loss:1.231839  train-accuracy:0.809762 valid-accuracy:0.717391
	Iter:6 train-loss:1.043659 valid-loss:1.209835  train-accuracy:0.817272 valid-accuracy:0.717391
	Iter:16 train-loss:0.793468 valid-loss:1.096304  train-accuracy:0.903630 valid-accuracy:0.739130
	Iter:26 train-loss:0.655063 valid-loss:1.069241  train-accuracy:0.921151 valid-accuracy:0.750000
	Iter:36 train-loss:0.562198 valid-loss:1.046247  train-accuracy:0.928661 valid-accuracy:0.750000
	Iter:46 train-loss:0.498899 valid-loss:1.064525  train-accuracy:0.932416 valid-accuracy:0.760870
	Iter:56 train-loss:0.455454 valid-loss:1.085791  train-accuracy:0.939925 valid-accuracy:0.750000
	Iter:66 train-loss:0.409738 valid-loss:1.107281  train-accuracy:0.946183 valid-accuracy:0.750000

###Improved Default Params

In [27]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose = 0,
    features = [tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True,
    min_examples = 1,
    categorical_algorithm="RANDOM",
    shrinkage=0.05,
    split_axis="SPARSE_OBLIQUE",
    sparse_oblique_normalization="MIN_MAX",
    sparse_oblique_num_projections_exponent = 2.0,
    num_trees=2000,
    random_seed=1234
)

In [28]:
model.fit(train_ds)

In [29]:
self_evaluation = model.make_inspector().evaluation()
print(f"Acc:{self_evaluation.accuracy} Loss:{self_evaluation.loss}")

Acc:0.75 Loss:1.0462466478347778

In [31]:
model.summary()

Model: "gradient_boosted_trees_model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.805245 ################
    2.           "Age"  0.372369 #####
    3.          "Fare"  0.273026 ##
    4.          "Name"  0.187307
    5.        "Pclass"  0.180805
    6.   "Ticket_item"  0.178416
    7. "Ticket_number"  0.178366
    8.         "Parch"  0.177684
    9.      "Embarked"  0.176070
   10.         "SibSp"  0.172557

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 34.000000 ################
    2. "Name"  2.000000

Variable Importance: NUM_NODES:
    1.           "Age" 428.000000 ################
    2.          "Fare" 278.000000 ##########
    3.          "Name" 55.000000 #
    4.   "Ticket_item" 38.000000 #
    5.           "Sex" 36.000000 #
    6. "Ticket_number" 23.000000
    7.         "Parch" 19.000000
    8.        "Pclass" 10.000000
    9.      "Embarked"  9.000000
   10.         "SibSp"  4.000000

Variable Importance: SUM_SCORE:
    1.           "Sex" 461.523208 ################
    2.           "Age" 378.019156 #############
    3.          "Fare" 275.230253 #########
    4.          "Name" 118.343331 ####
    5.        "Pclass" 36.228439 #
    6.         "Parch" 23.516134
    7.   "Ticket_item" 21.838539
    8. "Ticket_number" 17.217955
    9.      "Embarked"  7.074696
   10.         "SibSp"  0.400482



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 1.04625
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 36
Total number of nodes: 1836

Number of nodes by tree:
Count: 36 Average: 51 StdDev: 4.49691
Min: 41 Max: 61 Ignored: 0
----------------------------------------------
[ 41, 42)  1   2.78%   2.78% #
[ 42, 43)  0   0.00%   2.78%
[ 43, 44)  1   2.78%   5.56% #
[ 44, 45)  0   0.00%   5.56%
[ 45, 46)  3   8.33%  13.89% ###
[ 46, 47)  0   0.00%  13.89%
[ 47, 48)  5  13.89%  27.78% #####
[ 48, 49)  0   0.00%  27.78%
[ 49, 50)  3   8.33%  36.11% ###
[ 50, 51)  0   0.00%  36.11%
[ 51, 52) 10  27.78%  63.89% ##########
[ 52, 53)  0   0.00%  63.89%
[ 53, 54)  3   8.33%  72.22% ###
[ 54, 55)  0   0.00%  72.22%
[ 55, 56)  5  13.89%  86.11% #####
[ 56, 57)  0   0.00%  86.11%
[ 57, 58)  3   8.33%  94.44% ###
[ 58, 59)  0   0.00%  94.44%
[ 59, 60)  1   2.78%  97.22% #
[ 60, 61]  1   2.78% 100.00% #

Depth by leafs:
Count: 936 Average: 4.81624 StdDev: 0.493973
Min: 3 Max: 5 Ignored: 0
----------------------------------------------
[ 3, 4)  44   4.70%   4.70% #
[ 4, 5)  84   8.97%  13.68% #
[ 5, 5] 808  86.32% 100.00% ##########

Number of training obs by leaf:
Count: 936 Average: 30.7308 StdDev: 73.3279
Min: 1 Max: 458 Ignored: 0
----------------------------------------------
[   1,  23) 723  77.24%  77.24% ##########
[  23,  46)  71   7.59%  84.83% #
[  46,  69)  42   4.49%  89.32% #
[  69,  92)  20   2.14%  91.45%
[  92, 115)   2   0.21%  91.67%
[ 115, 138)   7   0.75%  92.41%
[ 138, 161)  27   2.88%  95.30%
[ 161, 184)   8   0.85%  96.15%
[ 184, 207)   2   0.21%  96.37%
[ 207, 230)   4   0.43%  96.79%
[ 230, 252)   2   0.21%  97.01%
[ 252, 275)   0   0.00%  97.01%
[ 275, 298)   0   0.00%  97.01%
[ 298, 321)   1   0.11%  97.12%
[ 321, 344)   0   0.00%  97.12%
[ 344, 367)   5   0.53%  97.65%
[ 367, 390)  11   1.18%  98.82%
[ 390, 413)   4   0.43%  99.25%
[ 413, 436)   6   0.64%  99.89%
[ 436, 458]   1   0.11% 100.00%

Attribute in nodes:
	428 : Age [NUMERICAL]
	278 : Fare [NUMERICAL]
	55 : Name [CATEGORICAL_SET]
	38 : Ticket_item [CATEGORICAL]
	36 : Sex [CATEGORICAL]
	23 : Ticket_number [CATEGORICAL]
	19 : Parch [NUMERICAL]
	10 : Pclass [NUMERICAL]
	9 : Embarked [CATEGORICAL]
	4 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	34 : Sex [CATEGORICAL]
	2 : Name [CATEGORICAL_SET]

Attribute in nodes with depth <= 1:
	44 : Age [NUMERICAL]
	34 : Sex [CATEGORICAL]
	21 : Fare [NUMERICAL]
	5 : Pclass [NUMERICAL]
	2 : Name [CATEGORICAL_SET]
	1 : Ticket_number [CATEGORICAL]
	1 : Parch [NUMERICAL]

Attribute in nodes with depth <= 2:
	111 : Age [NUMERICAL]
	75 : Fare [NUMERICAL]
	35 : Sex [CATEGORICAL]
	7 : Name [CATEGORICAL_SET]
	6 : Parch [NUMERICAL]
	5 : Pclass [NUMERICAL]
	5 : Embarked [CATEGORICAL]
	4 : Ticket_number [CATEGORICAL]
	4 : Ticket_item [CATEGORICAL]

Attribute in nodes with depth <= 3:
	239 : Age [NUMERICAL]
	155 : Fare [NUMERICAL]
	36 : Sex [CATEGORICAL]
	18 : Name [CATEGORICAL_SET]
	13 : Ticket_number [CATEGORICAL]
	12 : Ticket_item [CATEGORICAL]
	10 : Parch [NUMERICAL]
	6 : Pclass [NUMERICAL]
	6 : Embarked [CATEGORICAL]
	1 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 5:
	428 : Age [NUMERICAL]
	278 : Fare [NUMERICAL]
	55 : Name [CATEGORICAL_SET]
	38 : Ticket_item [CATEGORICAL]
	36 : Sex [CATEGORICAL]
	23 : Ticket_number [CATEGORICAL]
	19 : Parch [NUMERICAL]
	10 : Pclass [NUMERICAL]
	9 : Embarked [CATEGORICAL]
	4 : SibSp [NUMERICAL]

Condition type in nodes:
	739 : ObliqueCondition
	117 : ContainsBitmapCondition
	44 : ContainsCondition
Condition type in nodes with depth <= 0:
	36 : ContainsBitmapCondition
Condition type in nodes with depth <= 1:
	71 : ObliqueCondition
	37 : ContainsBitmapCondition
Condition type in nodes with depth <= 2:
	197 : ObliqueCondition
	50 : ContainsBitmapCondition
	5 : ContainsCondition
Condition type in nodes with depth <= 3:
	411 : ObliqueCondition
	70 : ContainsBitmapCondition
	15 : ContainsCondition
Condition type in nodes with depth <= 5:
	739 : ObliqueCondition
	117 : ContainsBitmapCondition
	44 : ContainsCondition

Training logs:
Number of iteration to final model: 36
	Iter:1 train-loss:1.267677 valid-loss:1.369485  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.214848 valid-loss:1.331812  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.164942 valid-loss:1.291869  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:4 train-loss:1.120759 valid-loss:1.258706  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:5 train-loss:1.079912 valid-loss:1.231839  train-accuracy:0.809762 valid-accuracy:0.717391
	Iter:6 train-loss:1.043659 valid-loss:1.209835  train-accuracy:0.817272 valid-accuracy:0.717391
	Iter:16 train-loss:0.793468 valid-loss:1.096304  train-accuracy:0.903630 valid-accuracy:0.739130
	Iter:26 train-loss:0.655063 valid-loss:1.069241  train-accuracy:0.921151 valid-accuracy:0.750000
	Iter:36 train-loss:0.562198 valid-loss:1.046247  train-accuracy:0.928661 valid-accuracy:0.750000
	Iter:46 train-loss:0.498899 valid-loss:1.064525  train-accuracy:0.932416 valid-accuracy:0.760870
	Iter:56 train-loss:0.455454 valid-loss:1.085791  train-accuracy:0.939925 valid-accuracy:0.750000
	Iter:66 train-loss:0.409738 valid-loss:1.107281  train-accuracy:0.946183 valid-accuracy:0.750000