<a href="https://colab.research.google.com/github/SandeeeeeeeeepDey/Kaggle_noob_to_pro/blob/main/Titanic/titanic_kaggle_tfdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Kaggle_Competition Jump start

##The Challenge
The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

##Import and Load

In [2]:
!pip install tensorflow_decision_forests

In [3]:
import numpy as np
import pandas as pd
import os

import tensorflow as tf
import tensorflow_decision_forests as tfdf

In [4]:
train_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Titanic_Kaggle/train.csv")
test_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Titanic_Kaggle/train.csv")
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##Dataset Preprocessing/Preparation

Make one preprocess function to use on both training set and test set.

In [5]:
def preprocess(df):
  df = df.copy()

  def normalize_name(x):
    return " ".join([v.strip(""",()[]."'""") for v in x.split(" ")])

  def ticket_number(x):
    return x.split(" ")[-1]

  def ticket_item(x):
    items = x.split(" ")
    if len(items)<2:
      return "NONE"
    return "_".join(items[0:-1])

  df["Name"] = df["Name"].apply(normalize_name)
  df["Ticket_number"] = df["Ticket"].apply(ticket_number)
  df["Ticket_item"] = df["Ticket"].apply(ticket_item)
  return df

preprocessed_train_df = preprocess(train_df)
preprocessed_test_df = preprocess(test_df)

In [6]:
preprocessed_train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE
5,6,0,3,Moran Mr James,male,NaN,0,0,330877,8.4583,NaN,Q,330877,NONE
6,7,0,1,McCarthy Mr Timothy J,male,54.0,0,0,17463,51.8625,E46,S,17463,NONE
7,8,0,3,Palsson Master Gosta Leonard,male,2.0,3,1,349909,21.0750,NaN,S,349909,NONE
8,9,1,3,Johnson Mrs Oscar W Elisabeth Vilhelmina Berg,female,27.0,0,2,347742,11.1333,NaN,S,347742,NONE
9,10,1,2,Nasser Mrs Nicholas Adele Achem,female,14.0,1,0,237736,30.0708,NaN,C,237736,NONE

Remove columns that will surely not be of any use as a feature.
Saves processing time and reduces dimension

In [7]:
input_features = list(preprocessed_train_df.columns)
input_features.remove("Survived")
input_features.remove("Ticket")
input_features.remove("PassengerId")

print(input_features)

['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked', 'Ticket_number', 'Ticket_item']

In [8]:
preprocessed_train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE

## Pandas dataframe to Tensor Dataset

work with python, but at the end use Tensors

In [9]:
def tokenize_names(features, labels=None):
  """
  TFDF can natively only use tokens, so we convert names to tokens.
  It can however handle string type catagorical datas
  """
  features["Name"] = tf.strings.split(features["Name"])
  return features, labels

train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_train_df, label = "Survived").map(tokenize_names)
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_test_df).map(tokenize_names)

##Train Models

###Train with Default Params

In [10]:
model = tfdf.keras.GradientBoostedTreesModel(
    features = [tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True,
    random_seed = 1234
  )
model.fit(train_ds)

Use /tmp/tmpeimp8mee as temporary training directory
Reading training dataset...
Training dataset read in 0:00:05.191301. Found 891 examples.
Training model...
Model trained in 0:00:00.343907
Compiling model...
Model compiled.

In [11]:
self_evaluation = model.make_inspector().evaluation()

In [12]:
print(f"Acc:{self_evaluation.accuracy} Loss:{self_evaluation.loss}")

Acc:0.8260869383811951 Loss:0.8608942627906799

In [13]:
model.summary()

Model: "gradient_boosted_trees_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.459973 ################
    2.          "Name"  0.275098 #####
    3.        "Pclass"  0.245396 ###
    4.          "Fare"  0.236151 ###
    5.           "Age"  0.236094 ###
    6.   "Ticket_item"  0.206166 #
    7. "Ticket_number"  0.199365 #
    8.      "Embarked"  0.184753
    9.         "SibSp"  0.181901
   10.         "Parch"  0.177765

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 23.000000 ################
    2. "Name"  7.000000 ####
    3. "Fare"  1.000000

Variable Importance: NUM_NODES:
    1.          "Name" 203.000000 ################
    2.           "Age" 137.000000 ##########
    3.          "Fare" 135.000000 ##########
    4.   "Ticket_item" 65.000000 ####
    5. "Ticket_number" 46.000000 ##
    6.        "Pclass" 43.000000 ##
    7.           "Sex" 26.000000
    8.      "Embarked" 25.000000
    9.         "Parch" 18.000000
   10.         "SibSp" 16.000000

Variable Importance: SUM_SCORE:
    1.           "Sex" 252.218113 ################
    2.        "Pclass" 92.180277 #####
    3.          "Name" 91.261412 #####
    4.          "Fare" 66.343601 ####
    5.           "Age" 66.282043 ####
    6.         "SibSp" 31.695974 #
    7.   "Ticket_item" 30.992235 #
    8. "Ticket_number" 28.132749 #
    9.      "Embarked" 11.668963
   10.         "Parch"  2.393148



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 0.860894
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 31
Total number of nodes: 1459

Number of nodes by tree:
Count: 31 Average: 47.0645 StdDev: 5.78059
Min: 33 Max: 61 Ignored: 0
----------------------------------------------
[ 33, 34) 1   3.23%   3.23% ##
[ 34, 35) 0   0.00%   3.23%
[ 35, 37) 0   0.00%   3.23%
[ 37, 38) 2   6.45%   9.68% ###
[ 38, 40) 0   0.00%   9.68%
[ 40, 41) 0   0.00%   9.68%
[ 41, 43) 2   6.45%  16.13% ###
[ 43, 44) 4  12.90%  29.03% #######
[ 44, 46) 4  12.90%  41.94% #######
[ 46, 47) 0   0.00%  41.94%
[ 47, 48) 2   6.45%  48.39% ###
[ 48, 50) 6  19.35%  67.74% ##########
[ 50, 51) 0   0.00%  67.74%
[ 51, 53) 6  19.35%  87.10% ##########
[ 53, 54) 2   6.45%  93.55% ###
[ 54, 56) 0   0.00%  93.55%
[ 56, 57) 0   0.00%  93.55%
[ 57, 59) 1   3.23%  96.77% ##
[ 59, 60) 0   0.00%  96.77%
[ 60, 61] 1   3.23% 100.00% ##

Depth by leafs:
Count: 745 Average: 4.73423 StdDev: 0.559695
Min: 2 Max: 5 Ignored: 0
----------------------------------------------
[ 2, 3)   5   0.67%   0.67%
[ 3, 4)  29   3.89%   4.56%
[ 4, 5) 125  16.78%  21.34% ##
[ 5, 5] 586  78.66% 100.00% ##########

Number of training obs by leaf:
Count: 745 Average: 33.247 StdDev: 70.3269
Min: 1 Max: 426 Ignored: 0
----------------------------------------------
[   1,  22) 549  73.69%  73.69% ##########
[  22,  43)  50   6.71%  80.40% #
[  43,  64)  40   5.37%  85.77% #
[  64,  86)  30   4.03%  89.80% #
[  86, 107)  23   3.09%  92.89%
[ 107, 128)   6   0.81%  93.69%
[ 128, 150)   8   1.07%  94.77%
[ 150, 171)   5   0.67%  95.44%
[ 171, 192)   4   0.54%  95.97%
[ 192, 214)   0   0.00%  95.97%
[ 214, 235)   1   0.13%  96.11%
[ 235, 256)   3   0.40%  96.51%
[ 256, 277)   1   0.13%  96.64%
[ 277, 299)   1   0.13%  96.78%
[ 299, 320)   1   0.13%  96.91%
[ 320, 341)   5   0.67%  97.58%
[ 341, 363)  11   1.48%  99.06%
[ 363, 384)   3   0.40%  99.46%
[ 384, 405)   1   0.13%  99.60%
[ 405, 426]   3   0.40% 100.00%

Attribute in nodes:
	203 : Name [CATEGORICAL_SET]
	137 : Age [NUMERICAL]
	135 : Fare [NUMERICAL]
	65 : Ticket_item [CATEGORICAL]
	46 : Ticket_number [CATEGORICAL]
	43 : Pclass [NUMERICAL]
	26 : Sex [CATEGORICAL]
	25 : Embarked [CATEGORICAL]
	18 : Parch [NUMERICAL]
	16 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	23 : Sex [CATEGORICAL]
	7 : Name [CATEGORICAL_SET]
	1 : Fare [NUMERICAL]

Attribute in nodes with depth <= 1:
	23 : Sex [CATEGORICAL]
	20 : Pclass [NUMERICAL]
	16 : Name [CATEGORICAL_SET]
	15 : Age [NUMERICAL]
	8 : Fare [NUMERICAL]
	6 : Ticket_number [CATEGORICAL]
	5 : Ticket_item [CATEGORICAL]

Attribute in nodes with depth <= 2:
	39 : Name [CATEGORICAL_SET]
	33 : Pclass [NUMERICAL]
	33 : Fare [NUMERICAL]
	28 : Age [NUMERICAL]
	23 : Sex [CATEGORICAL]
	20 : Ticket_item [CATEGORICAL]
	17 : Ticket_number [CATEGORICAL]
	11 : SibSp [NUMERICAL]
	8 : Embarked [CATEGORICAL]

Attribute in nodes with depth <= 3:
	97 : Name [CATEGORICAL_SET]
	75 : Age [NUMERICAL]
	65 : Fare [NUMERICAL]
	44 : Ticket_item [CATEGORICAL]
	39 : Pclass [NUMERICAL]
	38 : Ticket_number [CATEGORICAL]
	26 : Sex [CATEGORICAL]
	15 : Embarked [CATEGORICAL]
	12 : SibSp [NUMERICAL]
	10 : Parch [NUMERICAL]

Attribute in nodes with depth <= 5:
	203 : Name [CATEGORICAL_SET]
	137 : Age [NUMERICAL]
	135 : Fare [NUMERICAL]
	65 : Ticket_item [CATEGORICAL]
	46 : Ticket_number [CATEGORICAL]
	43 : Pclass [NUMERICAL]
	26 : Sex [CATEGORICAL]
	25 : Embarked [CATEGORICAL]
	18 : Parch [NUMERICAL]
	16 : SibSp [NUMERICAL]

Condition type in nodes:
	349 : HigherCondition
	193 : ContainsBitmapCondition
	172 : ContainsCondition
Condition type in nodes with depth <= 0:
	28 : ContainsBitmapCondition
	2 : ContainsCondition
	1 : HigherCondition
Condition type in nodes with depth <= 1:
	44 : ContainsBitmapCondition
	43 : HigherCondition
	6 : ContainsCondition
Condition type in nodes with depth <= 2:
	105 : HigherCondition
	83 : ContainsBitmapCondition
	24 : ContainsCondition
Condition type in nodes with depth <= 3:
	201 : HigherCondition
	147 : ContainsBitmapCondition
	73 : ContainsCondition
Condition type in nodes with depth <= 5:
	349 : HigherCondition
	193 : ContainsBitmapCondition
	172 : ContainsCondition

Training logs:
Number of iteration to final model: 31
	Iter:1 train-loss:1.217019 valid-loss:1.312529  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.133056 valid-loss:1.235091  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.064436 valid-loss:1.173175  train-accuracy:0.814768 valid-accuracy:0.750000
	Iter:4 train-loss:1.005204 valid-loss:1.132056  train-accuracy:0.827284 valid-accuracy:0.760870
	Iter:5 train-loss:0.955619 valid-loss:1.088404  train-accuracy:0.849812 valid-accuracy:0.782609
	Iter:6 train-loss:0.910064 valid-loss:1.048073  train-accuracy:0.857322 valid-accuracy:0.782609
	Iter:16 train-loss:0.675914 valid-loss:0.908024  train-accuracy:0.879850 valid-accuracy:0.804348
	Iter:26 train-loss:0.568907 valid-loss:0.876063  train-accuracy:0.899875 valid-accuracy:0.815217
	Iter:36 train-loss:0.513896 valid-loss:0.876310  train-accuracy:0.913642 valid-accuracy:0.804348
	Iter:46 train-loss:0.471705 valid-loss:0.885088  train-accuracy:0.923655 valid-accuracy:0.804348
	Iter:56 train-loss:0.432659 valid-loss:0.886860  train-accuracy:0.931164 valid-accuracy:0.804348

###Improved Default Params

In [14]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose = 0,
    features = [tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True,
    min_examples = 1,
    categorical_algorithm="RANDOM",
    shrinkage=0.05,
    split_axis="SPARSE_OBLIQUE",
    sparse_oblique_normalization = "MIN_MAX",
    sparse_oblique_num_projections_exponent = 2.0,
    num_trees=2000,
    random_seed=1234
)

In [15]:
model.fit(train_ds)

In [16]:
self_evaluation = model.make_inspector().evaluation()
print(f"Acc:{self_evaluation.accuracy} Loss:{self_evaluation.loss}")

Acc:0.75 Loss:1.0462466478347778

In [17]:
model.summary()

Model: "gradient_boosted_trees_model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.805245 ################
    2.           "Age"  0.372369 #####
    3.          "Fare"  0.273026 ##
    4.          "Name"  0.187307
    5.        "Pclass"  0.180805
    6.   "Ticket_item"  0.178416
    7. "Ticket_number"  0.178366
    8.         "Parch"  0.177684
    9.      "Embarked"  0.176070
   10.         "SibSp"  0.172557

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 34.000000 ################
    2. "Name"  2.000000

Variable Importance: NUM_NODES:
    1.           "Age" 428.000000 ################
    2.          "Fare" 278.000000 ##########
    3.          "Name" 55.000000 #
    4.   "Ticket_item" 38.000000 #
    5.           "Sex" 36.000000 #
    6. "Ticket_number" 23.000000
    7.         "Parch" 19.000000
    8.        "Pclass" 10.000000
    9.      "Embarked"  9.000000
   10.         "SibSp"  4.000000

Variable Importance: SUM_SCORE:
    1.           "Sex" 461.523208 ################
    2.           "Age" 378.019156 #############
    3.          "Fare" 275.230253 #########
    4.          "Name" 118.343331 ####
    5.        "Pclass" 36.228439 #
    6.         "Parch" 23.516134
    7.   "Ticket_item" 21.838539
    8. "Ticket_number" 17.217955
    9.      "Embarked"  7.074696
   10.         "SibSp"  0.400482



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 1.04625
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 36
Total number of nodes: 1836

Number of nodes by tree:
Count: 36 Average: 51 StdDev: 4.49691
Min: 41 Max: 61 Ignored: 0
----------------------------------------------
[ 41, 42)  1   2.78%   2.78% #
[ 42, 43)  0   0.00%   2.78%
[ 43, 44)  1   2.78%   5.56% #
[ 44, 45)  0   0.00%   5.56%
[ 45, 46)  3   8.33%  13.89% ###
[ 46, 47)  0   0.00%  13.89%
[ 47, 48)  5  13.89%  27.78% #####
[ 48, 49)  0   0.00%  27.78%
[ 49, 50)  3   8.33%  36.11% ###
[ 50, 51)  0   0.00%  36.11%
[ 51, 52) 10  27.78%  63.89% ##########
[ 52, 53)  0   0.00%  63.89%
[ 53, 54)  3   8.33%  72.22% ###
[ 54, 55)  0   0.00%  72.22%
[ 55, 56)  5  13.89%  86.11% #####
[ 56, 57)  0   0.00%  86.11%
[ 57, 58)  3   8.33%  94.44% ###
[ 58, 59)  0   0.00%  94.44%
[ 59, 60)  1   2.78%  97.22% #
[ 60, 61]  1   2.78% 100.00% #

Depth by leafs:
Count: 936 Average: 4.81624 StdDev: 0.493973
Min: 3 Max: 5 Ignored: 0
----------------------------------------------
[ 3, 4)  44   4.70%   4.70% #
[ 4, 5)  84   8.97%  13.68% #
[ 5, 5] 808  86.32% 100.00% ##########

Number of training obs by leaf:
Count: 936 Average: 30.7308 StdDev: 73.3279
Min: 1 Max: 458 Ignored: 0
----------------------------------------------
[   1,  23) 723  77.24%  77.24% ##########
[  23,  46)  71   7.59%  84.83% #
[  46,  69)  42   4.49%  89.32% #
[  69,  92)  20   2.14%  91.45%
[  92, 115)   2   0.21%  91.67%
[ 115, 138)   7   0.75%  92.41%
[ 138, 161)  27   2.88%  95.30%
[ 161, 184)   8   0.85%  96.15%
[ 184, 207)   2   0.21%  96.37%
[ 207, 230)   4   0.43%  96.79%
[ 230, 252)   2   0.21%  97.01%
[ 252, 275)   0   0.00%  97.01%
[ 275, 298)   0   0.00%  97.01%
[ 298, 321)   1   0.11%  97.12%
[ 321, 344)   0   0.00%  97.12%
[ 344, 367)   5   0.53%  97.65%
[ 367, 390)  11   1.18%  98.82%
[ 390, 413)   4   0.43%  99.25%
[ 413, 436)   6   0.64%  99.89%
[ 436, 458]   1   0.11% 100.00%

Attribute in nodes:
	428 : Age [NUMERICAL]
	278 : Fare [NUMERICAL]
	55 : Name [CATEGORICAL_SET]
	38 : Ticket_item [CATEGORICAL]
	36 : Sex [CATEGORICAL]
	23 : Ticket_number [CATEGORICAL]
	19 : Parch [NUMERICAL]
	10 : Pclass [NUMERICAL]
	9 : Embarked [CATEGORICAL]
	4 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	34 : Sex [CATEGORICAL]
	2 : Name [CATEGORICAL_SET]

Attribute in nodes with depth <= 1:
	44 : Age [NUMERICAL]
	34 : Sex [CATEGORICAL]
	21 : Fare [NUMERICAL]
	5 : Pclass [NUMERICAL]
	2 : Name [CATEGORICAL_SET]
	1 : Ticket_number [CATEGORICAL]
	1 : Parch [NUMERICAL]

Attribute in nodes with depth <= 2:
	111 : Age [NUMERICAL]
	75 : Fare [NUMERICAL]
	35 : Sex [CATEGORICAL]
	7 : Name [CATEGORICAL_SET]
	6 : Parch [NUMERICAL]
	5 : Pclass [NUMERICAL]
	5 : Embarked [CATEGORICAL]
	4 : Ticket_number [CATEGORICAL]
	4 : Ticket_item [CATEGORICAL]

Attribute in nodes with depth <= 3:
	239 : Age [NUMERICAL]
	155 : Fare [NUMERICAL]
	36 : Sex [CATEGORICAL]
	18 : Name [CATEGORICAL_SET]
	13 : Ticket_number [CATEGORICAL]
	12 : Ticket_item [CATEGORICAL]
	10 : Parch [NUMERICAL]
	6 : Pclass [NUMERICAL]
	6 : Embarked [CATEGORICAL]
	1 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 5:
	428 : Age [NUMERICAL]
	278 : Fare [NUMERICAL]
	55 : Name [CATEGORICAL_SET]
	38 : Ticket_item [CATEGORICAL]
	36 : Sex [CATEGORICAL]
	23 : Ticket_number [CATEGORICAL]
	19 : Parch [NUMERICAL]
	10 : Pclass [NUMERICAL]
	9 : Embarked [CATEGORICAL]
	4 : SibSp [NUMERICAL]

Condition type in nodes:
	739 : ObliqueCondition
	117 : ContainsBitmapCondition
	44 : ContainsCondition
Condition type in nodes with depth <= 0:
	36 : ContainsBitmapCondition
Condition type in nodes with depth <= 1:
	71 : ObliqueCondition
	37 : ContainsBitmapCondition
Condition type in nodes with depth <= 2:
	197 : ObliqueCondition
	50 : ContainsBitmapCondition
	5 : ContainsCondition
Condition type in nodes with depth <= 3:
	411 : ObliqueCondition
	70 : ContainsBitmapCondition
	15 : ContainsCondition
Condition type in nodes with depth <= 5:
	739 : ObliqueCondition
	117 : ContainsBitmapCondition
	44 : ContainsCondition

Training logs:
Number of iteration to final model: 36
	Iter:1 train-loss:1.267677 valid-loss:1.369485  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.214848 valid-loss:1.331812  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.164942 valid-loss:1.291869  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:4 train-loss:1.120759 valid-loss:1.258706  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:5 train-loss:1.079912 valid-loss:1.231839  train-accuracy:0.809762 valid-accuracy:0.717391
	Iter:6 train-loss:1.043659 valid-loss:1.209835  train-accuracy:0.817272 valid-accuracy:0.717391
	Iter:16 train-loss:0.793468 valid-loss:1.096304  train-accuracy:0.903630 valid-accuracy:0.739130
	Iter:26 train-loss:0.655063 valid-loss:1.069241  train-accuracy:0.921151 valid-accuracy:0.750000
	Iter:36 train-loss:0.562198 valid-loss:1.046247  train-accuracy:0.928661 valid-accuracy:0.750000
	Iter:46 train-loss:0.498899 valid-loss:1.064525  train-accuracy:0.932416 valid-accuracy:0.760870
	Iter:56 train-loss:0.455454 valid-loss:1.085791  train-accuracy:0.939925 valid-accuracy:0.750000
	Iter:66 train-loss:0.409738 valid-loss:1.107281  train-accuracy:0.946183 valid-accuracy:0.750000

####Make predictions

In [18]:
def prediction_to_kaggle_format(model, threshold=0.5):
  proba_survive = model.predict(test_ds, verbose=0)[:,0]
  return pd.DataFrame({
      "PassengerId": test_df["PassengerId"],
      "Survived": (proba_survive >= threshold).astype(int)
  })

def make_submission(kaggle_predictions):
  path = "/content/kaggle/submission.csv"
  kaggle_predictions.to_csv(path, index = False)

kaggle_predictions = prediction_to_kaggle_format(model)
make_submission(kaggle_predictions)
!head /content/kaggle/submission.csv

PassengerId,Survived
1,0
2,1
3,1
4,1
5,0
6,0
7,0
8,0
9,1

###Model with hyperparameter tunning

Tuner argument configuration

In [19]:
tuner = tfdf.tuner.RandomSearch(num_trials=1000)

tuner.choice("min_examples", [1,5,7,10])

tuner.choice("categorical_algorithm", ["CART","RANDOM"])

local_search_space = tuner.choice("growing_strategy", ["LOCAL"])
local_search_space.choice("max_depth", [3,4,5,6,7,8])

global_search_space = tuner.choice("growing_strategy",["BEST_FIRST_GLOBAL"], merge=True)
global_search_space.choice("max_num_nodes", [16,32,64,128,256])

tuner.choice("shrinkage", [0.02,0.05,0.1,0.15])
tuner.choice("num_candidate_attributes_ratio", [0.2, 0.5, 0.9, 1.0])

tuner.choice("split_axis", ["AXIS_ALIGNED"])
oblique_space = tuner.choice("split_axis", ["SPARSE_OBLIQUE"], merge=True)
oblique_space.choice("sparse_oblique_normalization",["NONE", "STANDARD_DEVIATION","MIN_MAX"])
oblique_space.choice("sparse_oblique_weights", ["BINARY", "CONTINUOUS"])
oblique_space.choice("sparse_oblique_num_projections_exponent", [1.0,1.5,2.0])

Make model based on the tuner arg

In [20]:
tuned_model = tfdf.keras.GradientBoostedTreesModel(tuner=tuner)
tuned_model.fit(train_ds, verbose=1)

Use /tmp/tmpuxfboxdj as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.362302. Found 891 examples.
Training model...
Model trained in 0:07:05.854733
Compiling model...
Model compiled.

In [21]:
tunes_self_evaluation = tuned_model.make_inspector().evaluation()
print(f"Acc:{tunes_self_evaluation.accuracy} Loss:{tunes_self_evaluation.loss}")

Acc:0.9041095972061157 Loss:0.6523688435554504

#####Ensemble multiple runs to get the agv output.(no luck)

In [ ]:
predictions = None
num_predictions = 0

for i in range(100):
  print(f"i:{i}")

  model = tfdf.keras.GradientBoostedTreesModel(tuner=tuner)
  model.fit(train_ds,verbose=1)
  sub_predictions = model.predict(train_ds, verbose=1)[:,0]
  if predictions is None:
    predictions = sub_predictions
  else:
    predictions += sub_predictions
  num_predictions += 1

predictions /= num_predictions

i:0
Use /tmp/tmpjc5p1uqa as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.316879. Found 891 examples.
Training model...
Model trained in 0:07:10.170656
Compiling model...

WARNING:tensorflow:5 out of the last 5 calls to <function InferenceCoreModel.make_predict_function.<locals>.predict_function_trained at 0x7b9b25eca8c0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

Model compiled.

WARNING:tensorflow:6 out of the last 6 calls to <function InferenceCoreModel.make_predict_function.<locals>.predict_function_trained at 0x7b9b25ecb490> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/1 [==============================] - 0s 212ms/step
i:1
Use /tmp/tmpb_dw39se as temporary training directory
Reading training dataset...

WARNING:tensorflow:5 out of the last 5 calls to <function CoreModel._consumes_training_examples_until_eof at 0x7b9b30549fc0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

Training dataset read in 0:00:00.540337. Found 891 examples.
Training model...
Model trained in 0:07:05.684040
Compiling model...
Model compiled.

WARNING:tensorflow:5 out of the last 8 calls to <function InferenceCoreModel.yggdrasil_model_path_tensor at 0x7b9b264f2710> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/1 [==============================] - 0s 208ms/step
i:2
Use /tmp/tmpkidn6nwr as temporary training directory
Reading training dataset...

WARNING:tensorflow:6 out of the last 6 calls to <function CoreModel._consumes_training_examples_until_eof at 0x7b9b30549fc0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

Training dataset read in 0:00:00.535203. Found 891 examples.
Training model...
Model trained in 0:07:02.839302
Compiling model...
Model compiled.

WARNING:tensorflow:6 out of the last 9 calls to <function InferenceCoreModel.yggdrasil_model_path_tensor at 0x7b9b2c2d6320> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/1 [==============================] - 0s 123ms/step
i:3
Use /tmp/tmp4q5p8kxc as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.329061. Found 891 examples.
Training model...
Model trained in 0:07:03.444435
Compiling model...
Model compiled.
1/1 [==============================] - 0s 132ms/step
i:4
Use /tmp/tmp7twnqwub as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.364699. Found 891 examples.
Training model...
Model trained in 0:07:05.095445
Compiling model...
Model compiled.
1/1 [==============================] - 0s 212ms/step
i:5
Use /tmp/tmpnzax55hy as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.491666. Found 891 examples.
Training model...
Model trained in 0:07:02.875456
Compiling model...
Model compiled.
1/1 [==============================] - 0s 124ms/step
i:6
Use /tmp/tmpa1q8ix98 as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.309993. Found 891 examples.
Training model...
Model trained in 0:07:01.449401
Compiling model...
Model compiled.
1/1 [==============================] - 0s 127ms/step
i:7
Use /tmp/tmprhcunsh7 as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.300841. Found 891 examples.
Training model...
Model trained in 0:07:01.500433
Compiling model...
Model compiled.
1/1 [==============================] - 0s 126ms/step
i:8
Use /tmp/tmpg0bdlr0w as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.312207. Found 891 examples.
Training model...
Model trained in 0:07:03.016161
Compiling model...
Model compiled.
1/1 [==============================] - 0s 122ms/step
i:9
Use /tmp/tmpilmojrk0 as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.326222. Found 891 examples.
Training model...
Model trained in 0:07:01.951213
Compiling model...
Model compiled.
1/1 [==============================] - 0s 201ms/step
i:10
Use /tmp/tmpld90qd3y as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.493217. Found 891 examples.
Training model...
Model trained in 0:07:02.362521
Compiling model...
Model compiled.
1/1 [==============================] - 0s 130ms/step
i:11
Use /tmp/tmp1b4ahgc0 as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.325705. Found 891 examples.
Training model...
Model trained in 0:07:02.466504
Compiling model...
Model compiled.
1/1 [==============================] - 0s 126ms/step
i:12
Use /tmp/tmpt_ib8fn9 as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.319750. Found 891 examples.
Training model...
Model trained in 0:07:06.428029
Compiling model...
Model compiled.
1/1 [==============================] - 0s 123ms/step
i:13
Use /tmp/tmpjs6yzjuf as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.324880. Found 891 examples.
Training model...
Model trained in 0:07:01.784062
Compiling model...
Model compiled.
1/1 [==============================] - 0s 120ms/step
i:14
Use /tmp/tmpiysgd2p9 as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.321770. Found 891 examples.
Training model...
Model trained in 0:07:02.324672
Compiling model...
Model compiled.
1/1 [==============================] - 0s 125ms/step
i:15
Use /tmp/tmpy150jzuj as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.328877. Found 891 examples.
Training model...
Model trained in 0:07:01.954100
Compiling model...
Model compiled.
1/1 [==============================] - 0s 140ms/step
i:16
Use /tmp/tmpkd06gims as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.330700. Found 891 examples.
Training model...

In [1]:
kaggle_predictions = pd.Dataframe({
    "PassangerID": test_df["PassangerID"]
    "survived": (predictions >= 0.5).astype(int)
})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-1-190ad56c5e85>, line 2)

In [ ]:
make_submission(kaggle_predictions)